header .divlogo h1 {
    color: white;
    transition: text-shadow 1s ease-in-out;
    transition: color 1s ease-in-out;

}

header .divlogo h1:hover {
    color: white;
    cursor: pointer;
    text-shadow: 0 0 5px rgb(255, 93, 177),
        0 0 25px rgb(255, 93, 177),
        0 0 40px rgb(255, 93, 177);

}

/* Neon Footer Bar */
#neonbar {
    content: '';
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5px;
    background: white;
    -webkit-box-reflect: above 0.01px linear-gradient(black, transparent);
    background: linear-gradient(90deg, #FF4500, #FF6347, #FF7F50, #FF69B4, #FF1493, #FF69B4, #FF7F50, #FF6347, #FF4500);
    animation: animate 20s linear infinite;
    background-size: 500%;
    transition: ease all .5s;
}

#neonbar::before, #neonbar::after {
    content: '';
    position: absolute;
    display: flex;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #FF4500, #FF6347, #FF7F50, #FF69B4, #FF1493, #FF69B4, #FF7F50, #FF6347, #FF4500);
    animation: animate 25s linear infinite;
    background-size: 500%;
    transition: ease all .5s;
}

#neonbar::before {
    filter: blur(10px);
    z-index: -1;
}

@keyframes animate 
{
    0%
    {
        background-position: 0 0;
    }
     0%
    {
        background-position: 500% 0;
    }
}