/* Fonts */
@font-face {
    font-family: 'Roboto Mono';
    src: url(../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
}
/* General */
body {
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto Mono';
    background-color: #2a394c;
    background: linear-gradient(
        to bottom,
        #041739,
        black
    );
}

img {
    width: 20%;
}

a{
    text-decoration: none;
}

#homebanner {
    background-image: url(../images/backgr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* NAV and Logo */
header {
    display: flex;
    width: 100%;
    height: 6vw;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

header a {
    color: white;
}

header .divlogo {
    display: flex;
    width: 30%;
    justify-content: center;
}

header nav {
    display: flex;
    width: 70%;
}

header nav ul {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.5vw;
    
}

header .emptydiv {
    display: flex;
    width: 30%;
}

/* Home */

main .home-section {
    display: flex;
    width: 100%;
    height: 800px;
    flex-wrap: wrap;
    
}

section .home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-section .divtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.divtitle .divtitletext {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2%;
}

.divtitle .divsubtext {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.home-section .divlogo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.divtitletext h1 {
    font-size: 10vw;
    font-weight: 1000;
    text-transform: uppercase;
    color: white;
}

.divsubtext h2 {
    font-size: 3vw;
    text-transform: uppercase;
    color: white;
}

.divlogo img {
    width: 5%;
}