/* Fonts */
@font-face {
    font-family: 'Roboto Mono';
    src: url(../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto_Mono/static/RobotoMono-Light.ttf);
}

/* General */
body {
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto Mono';
    background: rgba(17, 17, 15, 1);
    opacity: 0.9;
    color: white;
}

img {
    width: 20%;
}

a {
    text-decoration: none;
}

#homebanner {
    background-image: url(../images/backgr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* NAV and Logo */
header {
    display: flex;
    width: 100%;
    height: 6vw;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

header a {
    color: white;
}

header .divlogo {
    display: flex;
    width: 30%;
    justify-content: center;
}

header nav {
    display: flex;
    width: 70%;
}

header nav ul {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.5vw;

}

header .emptydiv {
    display: flex;
    width: 30%;
}

/* Home */

main .home-section {
    display: flex;
    width: 100%;
    height: 800px;
    flex-wrap: wrap;

}

section .home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-section .divtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.divtitle .divtitletext {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2%;
}

.divtitle .divsubtext {
    display: flex;
    width: 100%;
    justify-content: center;

}

.home-section .divlogo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.divtitletext h1 {
    font-size: 10vw;
    font-weight: 1000;
    text-transform: uppercase;
    color: white;
}

.divsubtext h2 {
    font-size: 3vw;
    text-transform: uppercase;
    color: white;
}

.divlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divlogo img {
    width: 5%;
}

/* EXPERTISE */
.titledivexpertise {
    display: flex;
    width: 100%;
    height: 10vw;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

.titledivexpertise h2 {
    width: 100%;
    font-family: 'Roboto Bold';
    font-size: 4vw;
    font-weight: bold;
}

.expertise-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: 40vw;
    text-align: left;
}

.expertise-section .box1 {
    display: flex;
    width: 23%;
    height: auto;
    border: 2px solid lightslategray;
    flex-wrap: wrap;
    align-items: flex-start;
}

.expertise-section .box2 {
    display: flex;
    width: 23%;
    height: auto;
    border: 2px solid lightslategray;
    flex-wrap: wrap;
    align-items: flex-start;
}

.expertise-section .box3 {
    display: flex;
    width: 23%;
    height: auto;
    border: 2px solid lightslategray;
    flex-wrap: wrap;
}

.box1 .divtitlebox {
    display: flex;
    width: 100%;
    height: 5vw;
    justify-content: left;
    align-items: center;
    padding: 10%;
    padding-top: 2vh;
}

.box1 .divpbox {
    display: flex;
    width: 100%;
    height: 10vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.box2 .divtitlebox {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding: 10%;
    padding-top: 2vh;
    height: 5vw;
}

.box2 .divpbox {
    display: flex;
    width: 100%;
    height: 10vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.box3 .divtitlebox {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding: 10%;
    padding-top: 2vh;
    height: 5vw;
}

.box3 .divpbox {
    display: flex;
    width: 100%;
    height: 10vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

/* Expertise Text Style */
.expertise-section .divtitlebox h3 {
    margin-left: 1vw;
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 1.25;
    font-family: 'Roboto Bold';
}

.expertise-section .divpbox p {
    line-height: 1.3;
    font-size: 1vw;
}

/* Coding Background Picture */
.transparentbckgcoding {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -5vw;
    z-index: -5;

}

.transparentbckgcoding img {
    opacity: 0.2;
    width: 40%;
    height: 70%;
}

/* Underlines in color from Expertises */
#magentaunderline {
    z-index: 0;
    position: relative;
    color: white;
}

#magentaunderline::after {
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    bottom: 13.5%;
    z-index: 1;
    opacity: 0.5;
    height: 0.3em;
    width: 104%;
    left: -1%;
    background: linear-gradient(65deg, #DF058D 0%, #DF058D 100%, rgba(255, 209, 0, 0) 100%);
}

#blueunderline {
    z-index: 0;
    position: relative;
    color: white;
}

#blueunderline::after {
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    bottom: 13.5%;
    z-index: 1;
    opacity: 0.5;
    height: 0.3em;
    width: 104%;
    left: -1%;
    background: linear-gradient(65deg, #1443d0 0%, #1443d0 100%, rgba(255, 209, 0, 0) 100%);
}

#greenunderline {
    z-index: 0;
    position: relative;
    color: white;
}

#greenunderline::after {
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    bottom: 13.5%;
    z-index: 1;
    opacity: 0.5;
    height: 0.3em;
    width: 104%;
    left: -1%;
    background: linear-gradient(65deg, #00ff5e 0%, #00ff5e 100%, rgba(255, 209, 0, 0) 100%);
}

/* MY PROJECTS */
.project-section {
    display: flex;
    width: 100%;
    height: 100vw;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;
}

.project-section .titlediv {
    display: flex;
    width: 100%;
    height: 15vw;
    justify-content: center;
    align-items: center;
}

.project-section .titlediv h2 {
    width: 100%;
    font-family: 'Roboto Bold';
    font-size: 4vw;
    font-weight: bold;
}

.projectimg {
    overflow: hidden;
}

.projectimg img {
    width: 100%;
    border-radius: 0.5vw 0.5vw 0 0;
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(70%);
}

/* project boxes */
.project-section .content-project {
    display: flex;
    width: 85%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-project .box1 {
    display: flex;
    width: 55%;
    flex-wrap: wrap;
    margin: 3% 0;
}

.box1 .projectimg {
    display: flex;
    width: 100%;
}

.box1 .projectblackbox {
    display: flex;
    text-align: left;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5%;
}

.content-project .box2 {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    margin: 3% 0;
}

.box2 .projectimg {
    display: flex;
    width: 100%;
}

.box2 .projectblackbox {
    display: flex;
    text-align: left;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 8%;
}

.content-project .box3 {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    margin: 3% 0;
}

.box3 .projectimg {
    display: flex;
    width: 100%;
}

.box3 .projectblackbox {
    display: flex;
    text-align: left;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10%;
}

.content-project .box4 {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    margin: 3% 0;
}

.box4 .projectimg {
    display: flex;
    width: 100%;
}

.box4 .projectblackbox {
    display: flex;
    text-align: left;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10%;
}

.content-project .box5 {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    margin: 3% 0;
}

.box5 .projectimg {
    display: flex;
    width: 100%;
}

.box5 .projectblackbox {
    display: flex;
    text-align: left;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10%;
}

/* Black Box */
.projectblackbox {
    justify-content: center;
    background-color: #191919;
    border-radius: 0 0 0.5vw 0.5vw;
}

.projectblackbox h4 {
    font-family: 'Arial' sans-serif;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    text-decoration: underline;
    text-decoration-color: transparent;

    transition-property: text-decoration-color;
    transition-duration: 0.2s;
    transition-delay: 0.1s -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}

.projectblackbox h5 {
    font-family: 'Arial' sans-serif;
    opacity: 0.7;
    font-size: 1.5vw;
    color: white;
    transition-property: color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

/* Animation */
.content-project .animationbox:hover {
    cursor: pointer;
}

.projectblackbox h4:hover {
    text-decoration-color: lightgray;
}

.projectblackbox h5:hover {
    color: #00fff5;
    opacity: 1;
}

.projectimg img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}